<script>
  gtag('event', 'page_view', {
    'send_to': 'AW-739031338',
    'items': [{
      'id': userId,
      'location_id': userId,
      'google_business_vertical': 'education'
    }]
  });
</script>
<nb-card>
  <nb-card-body>
    <ngx-theme-switcher></ngx-theme-switcher>
  </nb-card-body>
</nb-card>
<nb-card (click)="changePassword()">
  <ul >
    <nb-action  icon="ion-key" style="font-size: 30px;"></nb-action>&nbsp;&nbsp;&nbsp; Change Password
  </ul>
</nb-card>
<nb-card>
  <nb-card-body>
    <ngx-layout-direction-switcher></ngx-layout-direction-switcher>
  </nb-card-body>
</nb-card>