<script>
  gtag('event', 'page_view', {
    'send_to': 'AW-739031338',
    'items': [{
      'id': userId,
      'location_id': userId,
      'google_business_vertical': 'education'
    }]
  });
</script>
<nb-alert status="danger" closable (close)="onClose()" *ngIf="alertflag == 1">
  {{message}}
</nb-alert>
<div class="row" [nbSpinner]="loading" nbSpinnerStatus="danger" nbSpinnerSize="xlarge">
  <div class="col-md-12">
    <nb-card status="success">
      <nb-card-header>Complete all steps to complete your admission process for Course {{OnlinePersonaldetails?.specialization}} !!!</nb-card-header>
      <nb-card-body>
        <nb-stepper (click)="checktabs(stepper.selectedIndex,tabcheck1,tabcheck2,tabcheck3,tabcheck4,tabcheck5)" orientation="vertical" disableStepNavigation #stepper>
          <nb-step [stepControl]="OnlineEntranceForm" [completed]="tabcheck1"  label="Quantitative Aptitude Test Details" class="step-container">
            <form [formGroup]="OnlineEntranceForm" class="step-container" style="width: 635px;">
                <input type="hidden" ngModel="{{onlinectrlval}}" formControlName="onlinepaymentCtrl">
                <nb-card status="success" *ngIf="examgiven == false">
                  <nb-card-header>Quantitative Aptitude Test Details</nb-card-header>
                  <nb-card-body>
                    <div *ngIf="onlineTestPayment == true  && OnlinePersonaldetails?.online_test_date ==''"> 
                          <div class="row">
                              <div class="col-md-12">
                                <h5>Time Of Exam : 2PM To 4PM</h5>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                  <h5>Select One Date : </h5>
                                </div>
                          </div>
                          <div class="row">
                                <div class="col-xl-2"></div>
                                <div class="col-xl-4">
                                    <label class="radio-inline">
                                        <h5><input id="rdb1" name="gender" type="radio" value="{{examdates?.nextSaturday}}" (click)="checkradio(examdates?.nextSaturday1)" />{{examdates?.nextSaturday}}</h5>
                                    </label>
                                </div>
                          </div>
                          <div class="row">
                            <div class="col-xl-2"></div>
                              <div class="col-xl-4">
                                  <label class="radio-inline">
                                      <h5><input id="rdb2" name="gender" type="radio"  value="{{examdates?.secondnextSaturday}}" (click)="checkradio(examdates?.secondnextSaturday1)" />{{examdates?.secondnextSaturday}}</h5>
                                  </label>
                              </div>
                          </div>
                            <div class="row">
                                <div class="col-xl-2"></div>
                                <div class="col-xl-4">
                                    <label class="radio-inline">
                                        <h5><input id="rdb3" name="gender" type="radio" value="{{examdates?.thirdnextSaturday}}" (click)="checkradio(examdates?.thirdnextSaturday1)" />{{examdates?.thirdnextSaturday}}</h5>
                                    </label>
                                </div>
                          </div>
                          <div class="row">
                              <div class="col-xl-2"></div>
                              <div class="col-xl-4">
                                  <label class="radio-inline">
                                      <h5><input id="rdb4" name="gender" type="radio"  value="{{examdates?.fourthnextSaturday}}" (click)="checkradio(examdates?.fourthnextSaturday1)" />{{examdates?.fourthnextSaturday}}</h5>
                                  </label>
                              </div>
                          </div>
                          <div class="row">
                              <button nbButton class="col-md-4 col-sm-4 col-xs-4 offset-md-4" (click)="saveexamdate()"
                              hero status="info">Save Date</button><br>
                              <span *ngIf="showerror == true" style="color:red;">Select Date</span>
                          </div><br><br>
                          <div class="row" *ngIf="OnlinePersonaldetails?.show_qat_link == '1'">
                            <div class="col-xl-7">
                                <h5>If you want to start test now Click button</h5>
                            </div>
                            <div class="col-xl-5">
                                <button nbButton (click)="examStart()" hero status="info">Start Exam</button>
                            </div>
                          </div>
                    </div>
                    <div *ngIf="onlineTestPayment == true && OnlinePersonaldetails?.online_test_date!=''" >
                      <div class="row paddingForDetails">
                        <div class="col-md-4 enrollDetailsCol1">
                            Date of exam
                        </div>
                        <div class="col-md-1 enrollDetailsCol1">
                          :
                        </div>
                        <div class="col-md-5 enrollDetailsCol2">
                            <input type="text" nbInput class="form-control" ngModel="{{OnlinePersonaldetails?.online_test_date}}"
                            formControlName="testDateCtrl">
                        </div>
                      </div>
                     <div class="row">
                        <div class="col-xl-4 enrollDetailsCol1">
                          Time
                        </div>
                        <div class="col-md-1 enrollDetailsCol1">
                          :
                        </div>
                        <div class="col-xl-5 enrollDetailsCol2">
                            <input type="text" nbInput class="form-control" ngModel="{{OnlinePersonaldetails?.online_test_time}}"
                            formControlName="testTimeCtrl">
                        </div>
                    </div>
                    <!-- <div class="row" *ngIf="OnlinePersonaldetails?.show_qat_link == '1'">
                      <div class="col-xl-6">
                          <h5>If you want to start test now Click button</h5>
                      </div>
                      <div class="col-xl-6">
                          <button nbButton class="col-md-4 col-sm-4 col-xs-4 offset-md-4" (click)="examStart()"
                          hero status="info">Start Exam</button>
                      </div>
                    </div> -->
                    </div>
                      <div class="row">
                          <div class="col-xl-12" *ngIf="onlineTestPayment == false">
                              <button nbButton class="col-md-4 col-sm-4 col-xs-4 offset-md-4" style="margin-top:10px;" (click)="onlineexamfee()"
                                  hero status="info">Pay Online Entrance Exam Fee</button>
                          </div>
                      </div>
                  </nb-card-body>
                  <button nbButton nbStepperNext>next</button>
                </nb-card>
                <nb-card status="success" *ngIf="examgiven == true">
                    <nb-card-header>Quantitative Aptitude Test Details</nb-card-header>
                    <nb-card-body>
                        <div class="row" *ngIf="acturial_document_verify == 'false' || acturial_document_verify == ''">
                          <div class="col-xl-12" style="text-align:center;">
                            <h5>You have already uploaded the marksheet. Please wait until admin verifies the document.</h5>
                          </div>
                        </div>
                        <div class="row" *ngIf="acturial_document_verify == 'true'">
                            <div class="col-xl-12" style="text-align:center;">
                             <h5>Admin verified your document.</h5>
                            </div>
                          </div>
                    </nb-card-body>
                    <button *ngIf="acturial_document_verify == 'true'" nbButton nbStepperNext (click)="next()">next</button>
                </nb-card>
            </form>
          </nb-step>
          <nb-step [stepControl]="reservedSeatForm" [completed]="tabcheck2"  label="Reserved Seat" class="step-container">
              <form [formGroup]="reservedSeatForm" class="step-container" style="width: 635px;">
                  <input type="hidden" ngModel="{{OnlinePersonaldetails?.pi_test_date}}" formControlName="PersonalExamCtrl">
                  <nb-card status="success">
                      <nb-card-header>Reserved Seat</nb-card-header>
                      <nb-card-body>
                          <div class="row" *ngIf="UserData?.acturial_test == 'true'">
                            <div class="col-xl-12" *ngIf="personalFee == false" style="text-align:center;">
                              <h5>If you want to reserved your seat, yor are required to pay a refundable deposite of Rs.20,000.</h5>
                            </div><br>
                            <div class="col-xl-12" *ngIf="personalFee == false">
                                <button nbButton class="col-md-4 col-sm-4 col-xs-4 offset-md-4" style="margin-top:10px;" (click)="proceedforpayment()"
                                    hero status="info">Proceed For Payment</button><br>
                            </div>
                            <br>
                            <br>
                            <div class="col-xl-12" *ngIf="personalFee == false" style="color:red">
                              <br><h5>(Note: The deposite is refundable if you do not clear the personal interview round.)</h5>
                            </div>
                            <div class="col-xl-12" *ngIf="pi_test_date==''" style="text-align:center">
                              <h5>You are required to wait until admin scheduled the interview.</h5>
                            </div>
                            <div class="col-xl-12" *ngIf="pi_test_date!=''" style="text-align:center">
                              <h5>Your interview is scheduled.</h5>
                            </div>
                          </div>
                          <div *ngIf="UserData?.acturial_test == 'false'">
                              <div  class="row" *ngIf="OnlinePersonaldetails.reserved_seat == true">
                                  <div class="col-xl-12" *ngIf="personalFee == false" style="text-align:center;">
                                      <h5>If you want to reserved your seat, yor are required to pay a refundable deposite of Rs.20,000.</h5>
                                  </div><br>
                                  <div class="col-xl-12" *ngIf="personalFee == false">
                                        <button nbButton class="col-md-4 col-sm-4 col-xs-4 offset-md-4" style="margin-top:10px;" (click)="proceedforpayment()"
                                            hero status="info">Proceed For Payment</button><br>
                                  </div>
                                  <br>
                                  <br>
                                  <div class="col-xl-12" *ngIf="personalFee == false" style="color:red">
                                    <br><h5>(Note: The deposite is refundable if you do not clear the personal interview round.)</h5>
                                  </div>
                              </div>
                              <div class="col-xl-12" *ngIf="pi_test_date==''" style="text-align:center">
                                <h5>You are required to wait until admin scheduled the interview.</h5>
                              </div>
                              <div class="col-xl-12" *ngIf="pi_test_date!=''" style="text-align:center">
                                <h5>Your interview is scheduled.</h5>
                              </div>
                          </div>
                      </nb-card-body>
                      <button nbButton nbStepperNext>next</button>
                  </nb-card>
              </form>
          </nb-step>
          <nb-step [stepControl]="PersonalInterviewForm" [completed]="tabcheck3"  label="Personal Interview Details" class="step-container">
            <form [formGroup]="PersonalInterviewForm" class="step-container" style="width: 635px;">
                <input type="hidden" ngModel="{{total_marks}}" formControlName="MarksExamCtrl">
                  <nb-card status="success">
                    <nb-card-header>Personal Interview Details</nb-card-header>
                    <nb-card-body>
                      <div class="row paddingForDetails">
                        <div class="col-md-4 enrollDetailsCol1">
                            Date of exam
                        </div>
                        <div class="col-md-1 enrollDetailsCol1">
                          :
                        </div>
                        <div class="col-md-5 enrollDetailsCol2">
                            <input type="text" nbInput class="form-control" ngModel="{{OnlinePersonaldetails?.pi_test_date}}"
                            formControlName="interviewDateCtrl">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-4 enrollDetailsCol1">
                          Time
                        </div>
                        <div class="col-md-1 enrollDetailsCol1">
                          :
                        </div>
                        <div class="col-xl-5 enrollDetailsCol2">
                            <input type="text" nbInput class="form-control" ngModel="{{OnlinePersonaldetails?.pi_test_time}}"
                            formControlName="interviewTimeCtrl">
                        </div>
                        </div>
                    </nb-card-body>
                    <button nbButton type="button" nbStepperNext (click)="next()">next</button>
                  </nb-card>
            </form>
          </nb-step>
          <nb-step [stepControl]="MarksForm" [completed]="tabcheck4"  label="Marks Details" class="step-container">
              <form [formGroup]="MarksForm" class="step-container" style="width: 635px;">
                <input type="hidden" ngModel="{{application_status_value}}" formControlName="examStatusInMarkCtrl">
                <input type="hidden" ngModel="{{profilecomplete}}" formControlName="profileCtrl">
                  <nb-card status="success">
                    <nb-card-header>Online Entrance and Personal Interview Marks Details</nb-card-header>
                    <nb-card-body>
                      <div class="row paddingForDetails">
                        <div class="col-md-4 enrollDetailsCol1">
                            Marks
                        </div>
                        <div class="col-md-1 enrollDetailsCol1">
                          :
                        </div>
                        <div class="col-md-5 enrollDetailsCol2">
                            <input type="text" nbInput class="form-control" ngModel="{{Marksdetails?.total_marks}}"
                            formControlName="totalMarksCtrl" [readonly]="true">
                        </div>
                      </div>
                      <div class="row justify-content-between">
                          <div class="col-xl-12" *ngIf="Marksdetails?.application_status=='Pass'">
                            <h5 style="color:green;text-align:center;">You have successfully made it to your desired course.You can now proceed the fees!</h5>
                          </div><br>
                          <div class="col-xl-12" *ngIf="Marksdetails?.application_status=='Fail'">
                            <h5 style="color:red;text-align:center;">You have not cleared the examination. Click here to re-apply.</h5>
                            <button  nbButton class="col-md-4 col-sm-4 col-xs-4 offset-md-4" style="margin-top:10px;" (click)="examresult(Marksdetails?.application_status)"
                              hero status="info">ReApply</button>
                            <!-- <button  nbButton class="col-md-4 col-sm-4 col-xs-4 offset-md-4" style="margin-top:10px;" (click)="reapply(applicationId,courseID)"
                              hero status="info">To Reapply for the Same Course Click Here</button> -->
                          </div>
                          <div class="row" *ngIf="Marksdetails?.application_status == 'Pass' && profilecomplete == ''">
                            <div class="col-xl-12" style="text-align:center;">
                              Please Complete your profile before pay the course fee.
                            </div>
                            <div class="col-xl-12" style="text-align:center;">
                                <button nbButton class="col-md-4 col-sm-4 col-xs-4 offset-md-4" style="margin-top:10px;" (click)="redirectProfile(applicationId,courseID)"
                                hero status="info">Complete Your Profile</button>
                            </div>
                          </div>
                      </div>
                    </nb-card-body>
                    <!-- <button *ngIf="Marksdetails?.application_status == 'Pass'" nbButton nbStepperNext></button> -->
                    <button *ngIf="Marksdetails?.application_status == 'Pass' && profilecomplete != ''" nbButton nbStepperNext>next</button>
                  </nb-card>
              </form>
          </nb-step>
          <nb-step [stepControl]="CoursePayForm" [completed]="tabcheck5"  label="Pay Course Fee" class="step-container">
              <form [formGroup]="CoursePayForm" class="step-container" style="width: 635px;">
                <input type="hidden" ngModel="{{accept_value}}" formControlName="examStatusCtrl">
                  <nb-card [style.width.px]="700" [style.height.px]="600" status="success">
                    <nb-card-header>
                      <div class="row">
                        <div class="col-md-12">
                          <h3 style="color:#ffffff">PAYMENT for Course {{course_name}}</h3>
                        </div>
                      </div>
                    </nb-card-header>
                    <nb-card-body>
                      <div class="row" style="margin-bottom:7px">
                        <div class="col-md-3">Name</div>
                        <div class="col-md-9"> 
                          <input type="text" formControlName="stuNameCtrl"  nbInput fullWidth placeholder="Name" ngModel="{{user_data?.name}}" [readonly]="true">
                        </div>
                      </div>
                      <div class="row" style="margin-bottom:7px">
                        <div class="col-md-3">Address</div>
                        <div class="col-md-9"> 
                          <input type="text" formControlName="stuAddCtrl" nbInput fullWidth placeholder="Address" ngModel="{{user_data?.address1}}" [readonly]="true">
                        </div>
                      </div>
                      <div class="row" style="margin-bottom:7px">
                        <div class="col-md-3">City</div>
                        <div class="col-md-9"> 
                          <input type="text" formControlName="stuCityCtrl" nbInput fullWidth  placeholder="City" ngModel="{{user_data?.city}}" [readonly]="true">
                        </div>
                      </div>
                      <div class="row" style="margin-bottom:7px">
                        <div class="col-md-3">State</div>
                        <div class="col-md-9"> 
                          <input type="text" formControlName="stuStateCtrl" nbInput fullWidth placeholder="State" ngModel="{{user_data?.state}}" [readonly]="true">
                        </div>
                      </div>
                      <div class="row" style="margin-bottom:7px">
                        <div class="col-md-3">Zipcode</div>
                        <div class="col-md-9"> 
                          <input type="text" formControlName="stuZipCtrl" nbInput fullWidth placeholder="Zipcode" ngModel="{{user_data?.postal_code}}" [readonly]="true">
                        </div>
                      </div>
                      <div class="row" style="margin-bottom:7px">
                        <div class="col-md-3">Telephone</div>
                        <div class="col-md-9"> 
                          <input type="text" formControlName="stuTelCtrl" nbInput fullWidth placeholder="Telephone" ngModel="{{user_data?.mobile}}" [readonly]="true">
                        </div>
                      </div>
                      <div class="row" style="margin-bottom:7px">
                        <div class="col-md-3">Email</div>
                        <div class="col-md-9"> 
                          <input type="text" formControlName="stuEmailCtrl" nbInput fullWidth placeholder="Email" ngModel="{{user_data?.email}}" [readonly]="true">
                        </div>
                      </div>
                      <div class="row" style="margin-bottom:7px">
                        <div class="col-md-3">Amount</div>
                        <div class="col-md-9"> 
                          <input type="text" formControlName="stuAmountCtrl" nbInput fullWidth placeholder="Amount" ngModel="{{amount}}" [readonly]="true">
                        </div>
                      </div>
                    </nb-card-body>
                    <nb-card-footer>
                      <div class="row">
                      <div class="col-md-3"></div>
                      <div class="col-md-6">
                        <button *ngIf="upload_location == false && amountpay == false" nbButton hero status="primary" (click)="paythirdpayment()">Proceed For Payment</button>
                        <!-- <button *ngIf="upload_location == true && amountpay == false" nbButton hero status="primary" (click)="uploadsecondpaymentreceipt()">Upload Challan</button> -->
                        <button *ngIf="amountpay == true" nbButton hero status="primary">Amount Paid Successfully</button>
                      </div>
                      <div class="col-md-3"></div>
                      </div>
                    </nb-card-footer>
                  </nb-card>
              </form>
          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card> 
  </div>
</div>
<p-confirmDialog [style]="{width: '425px'}"></p-confirmDialog>