<nb-alert status="danger" closable (close)="onClose()" *ngIf="alertflag == 1">
    Your Application is under process with the Eligibility department.
</nb-alert>

<nb-alert status="danger" closable (close)="onClose()" *ngIf="alertflag == 2">
    Sorry, your application is rejected.
</nb-alert>
<nb-alert status="danger" closable (close)="onClose()" *ngIf="alertflag == 3">
    Sorry, you can not go further until your exam date will be scheduled.
</nb-alert>
<div class="row">
    <div class="col-md-6" *ngFor=" let item of applications;">
        <div>
            <nb-card status="success">
                <nb-card-header>{{item.application?.specialization}}</nb-card-header>
                <nb-card-body>
                    <div class="col-xl-12">
                        {{item.application?.overview}}
                    </div><br>
                    <div class="col-xl-12">
                        <div>Have you given or passed any acturial paper or ACET</div>
                    </div><br>
                    <div class="col-xl-4">
                        <label class="radio-inline">
                            <input id="rdb1" type="radio" [(ngModel)]="testradio" name="address_Radio" value="true" (click)="checkradio('true')" /> Yes
                        </label>
                    </div>
                    <div class="col-xl-4">
                        <label class="radio-inline">
                            <input id="rdb2" type="radio" [(ngModel)]="testradio" name="address_Radio" value="false" (click)="checkradio('false')"/> No
                        </label>
                    </div><br>
                    <div class="col-xl-12" *ngIf="showupload == true">
                        Upload the mention document above :<br><br>
                        <p-fileUpload class="form-control" [accept]= "'.pdf,.jpg,.jpeg,.png,.PNG,.JPEG,.JPG,.PDF'" chooseLabel="Browse"
                            name="file" url="{{serverUrl}}/api/myApplication/upload?userid={{id}}&acturialExam=true&applicationId={{item.application?.id}}" 
                            maxFileSize="5000000" (onBeforeSend)="onBeforeSend($event)"
                            (onUpload)="onUpload($event)" 
                            (onSelect)="onSelect($event);">
                        </p-fileUpload>
                        <span *ngIf='uploaderror == true'>Max uploaded file size should be 5 MB.</span>
                    </div>
                </nb-card-body>
                <div *ngIf="showbutton == true" style="text-align:center;">
                    <button nbButton *ngIf="item.application?.check_eligibility == 'true' && item.application?.online_test_date != null && item.application?.online_test_time != null;" (click)="loadsteps(item.application?.id,item.application?.course_id)">Your exam is scheduled .</button>
                    <button nbButton *ngIf="item.application?.check_eligibility == 'true' && item.application?.online_test_date == null && item.application?.online_test_time == null;" (click)="showalert3()">Your exam is not scheduled .</button>
                    <button nbButton *ngIf=" item.application?.check_eligibility == 'false';" (click)="showalert3()">Your exam is not scheduled.</button>
                </div>
            </nb-card>
        </div>
    </div>
</div>